@model CodeForum.Models.ViewModels.TopicDetailsViewModel

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="topic-card">
                <div class="topic-header">
                    <h1>@Model.Topic.Title</h1>
                    <div class="topic-meta">
                        <span>Posted by @Model.Topic.User.UserName</span>
                        <span>in @Model.Topic.Category.Name</span>
                        <span>on @Model.Topic.CreatedAt.ToString("MMM dd, yyyy")</span>
                    </div>
                </div>
                
                <div class="topic-content">
                    @Model.Topic.Content
                </div>
                
                <div class="topic-tags">
                    @foreach (var topicTag in Model.Topic.TopicTags)
                    {
                        <span class="badge bg-secondary">@topicTag.Tag.Name</span>
                    }
                </div>
            </div>
        </div>
    </div>
</div>