@model CodeForum.Helpers.PagedList<Post>

<div class="row">
    <div class="col-md-2 offset-md-4 m-3">
        <div class="text-center">
            <a asp-action="Create" asp-controller="Posts" asp-route-topicId="@ViewBag.TopicId" class="btn btn-primary">Add new Post</a>
        </div>
    </div>
</div>

@{
    bool topicInfoDisplayed = false;
}

@foreach (var post in Model)
{
    <div class="col-md-6 offset-md-3 py-sm-4">
        <div class="card card-body bg-light" style=" border: 2px solid #1e1e1e">
            @if (!topicInfoDisplayed)
            {
                <div>
                    <h2>Title: @post.Topic.Title</h2>
                    <p>Content: @post.Topic.Content</p>
                    <p>Date Created: @post.CreatedAt.ToShortDateString()</p>
                </div>
                topicInfoDisplayed = true;
            }
        </div>
    </div>

    <div class="col-md-6 offset-md-3 py-sm-2">
        <div class="card card-body bg-light">
            <div>
                <p>@post.Content</p>
                <p>@post.CreatedAt.ToShortDateString()</p>
                <p>@post.User?.Email</p>
            </div>
            <form asp-action="Delete" asp-route-id="@post.Id" method="post">
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                <button type="submit" class="btn btn-sm btn-danger">
                    Delete
                </button>
            </form>
        </div>
    </div>
}

<div class="text-center col-md-6 offset-md-5 py-sm-4">
    <div class="pagination">
        <ul>
            @if (Model.CurrentPage > 1)
            {
                <li>
                    <a href="?pageNumber=@(Model.CurrentPage - 1)&pageSize=@Model.PageSize">Previous</a>
                </li>
            }

            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li style="display: inline-block; margin-right: 5px;">
                    <a href="?pageNumber=@i&pageSize=@Model.PageSize">@i</a>
                </li>
            }

            @if (Model.CurrentPage < Model.TotalPages)
            {
                <li>
                    <a href="?pageNumber=@(Model.CurrentPage + 1)&pageSize=@Model.PageSize">Next</a>
                </li>
            }
        </ul>
    </div>
</div